<a href="https://colab.research.google.com/github/Choyoons/Choyoons/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_vgm2 = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df_vgm2

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...,...
16593,16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [106]:
df_vgm2.drop('Unnamed: 0', axis = 1, inplace=True)
df_vgm2

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [107]:
df1 = df_vgm2[['Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df1

           Genre NA_Sales EU_Sales JP_Sales Other_Sales
0         Action     0.04        0        0           0
1         Action     0.17        0        0        0.01
2      Adventure        0        0     0.02           0
3           Misc     0.04        0        0           0
4       Platform     0.12     0.09        0        0.04
...          ...      ...      ...      ...         ...
16593   Platform     0.15     0.04        0        0.01
16594     Action     0.01        0        0           0
16595     Sports     0.44     0.19     0.03        0.13
16596     Action     0.05     0.05     0.25        0.03
16597   Fighting        0        0     0.16        0.01

[16598 rows x 5 columns]

In [111]:
df_total = df_vgm2[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df_total

      NA_Sales EU_Sales JP_Sales Other_Sales
0         0.04        0        0           0
1         0.17        0        0        0.01
2            0        0     0.02           0
3         0.04        0        0           0
4         0.12     0.09        0        0.04
...        ...      ...      ...         ...
16593     0.15     0.04        0        0.01
16594     0.01        0        0           0
16595     0.44     0.19     0.03        0.13
16596     0.05     0.05     0.25        0.03
16597        0        0     0.16        0.01

[16598 rows x 4 columns]

In [118]:
df_total = df_total.replace('M','', regex = True)
df_total

filter = 
df_total2  = df_total.contains('K')

AttributeError: ignored

In [108]:
df1['NA_Sales'] = df1['NA_Sales'].str.replace(pat = r'[M]', repl = r'', regex = True)
df1['EU_Sales'] = df1['EU_Sales'].str.replace(pat = r'[M]', repl = r'', regex = True)
df1['JP_Sales'] = df1['JP_Sales'].str.replace(pat = r'[M]', repl = r'', regex = True)
df1['Other_Sales'] = df1['Other_Sales'].str.replace(pat = r'[M]', repl = r'', regex = True)

df1.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Genre          object
NA_Sales       object
EU_Sales       object
JP_Sales       object
Other_Sales    object
dtype: object

In [ ]:
df_vgm2[['NA_Sales', 'EU_Sales','JP_Sales', 'Other_Sales']] =  df_vgm2[['NA_Sales', 'EU_Sales','JP_Sales', 'Other_Sales']].\
apply(pd.to_numeric)

df_vgm2.dtypes

In [110]:
df_K1 = df1.loc[df1['NA_Sales'].str.contains('K')]
df_K2 = df1.loc[df1['EU_Sales'].str.contains('K')]
df_K3 = df1.loc[df1['JP_Sales'].str.contains('K')]
df_K4 = df1.loc[df1['Other_Sales'].str.contains('K')]

df_K1['NA_Sales']

10       480K
45        60K
145        0K
878        0K
1086       0K
         ...
15647      0K
16194    120K
16330    720K
16492    470K
16578    320K
Name: NA_Sales, Length: 100, dtype: object

In [101]:
df_K['NA_Sales'] = df_K['NA_Sales'].str.replace(pat = r'[K]', repl = r'', regex = True)
df_K
df_K['NA_Sales'] = df_K['NA_Sales'].astype({'NA_Sales' : 'int'})
df_K.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Genre          object
NA_Sales        int64
EU_Sales       object
JP_Sales       object
Other_Sales    object
dtype: object

In [95]:
df_K

Empty DataFrame
Columns: [Genre, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [55]:
df1['NA_Sales'].str.contains('K')

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: NA_Sales, Length: 16598, dtype: bool

In [34]:
df_vgm2_K['NA_Sales_Num'] = df_vgm2_K['NA_Sales_Num'].str.replace(pat = r'[]', repl = r'', regex = True)
df_vgm2_K

AttributeError: ignored

In [ ]:
df1 = df_vgm2[['Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df1

           Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0         Action      0.04      0.00      0.00         0.00
1         Action      0.17      0.00      0.00         0.01
2      Adventure      0.00      0.00      0.02         0.00
3           Misc      0.04      0.00      0.00         0.00
4       Platform      0.12      0.09      0.00         0.04
...          ...       ...       ...       ...          ...
16593   Platform      0.15      0.04      0.00         0.01
16594     Action      0.01      0.00      0.00         0.00
16595     Sports      0.44      0.19      0.03         0.13
16596     Action      0.05      0.05      0.25         0.03
16597   Fighting      0.00      0.00      0.16         0.01

[16598 rows x 5 columns]

In [ ]:
df_genre = df_vgm2[['Genre','NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df_genre.groupby('Genre').describe()

             NA_Sales                                                      \
                count      mean        std  min   25%   50%   75%     max
Genre
Action         3305.0  2.389646  75.132055  0.0  0.02  0.10  0.27  4100.0
Adventure      1280.0  0.293273   5.370954  0.0  0.00  0.00  0.07   150.0
Fighting        847.0  1.218878  19.914883  0.0  0.00  0.08  0.29   470.0
Misc           1734.0  2.401551  53.169141  0.0  0.00  0.08  0.21  2010.0
Platform        884.0  4.245622  99.120589  0.0  0.05  0.14  0.44  2930.0
Puzzle          578.0  0.939325  14.798830  0.0  0.01  0.05  0.14   350.0
Racing         1243.0  4.699678  83.362442  0.0  0.03  0.10  0.27  2570.0
Role-Playing   1483.0  1.030566  17.865874  0.0  0.00  0.04  0.16   550.0
Shooter        1308.0  2.514687  53.687100  0.0  0.03  0.12  0.38  1780.0
Simulation      865.0  3.526116  58.767918  0.0  0.00  0.07  0.25  1610.0
Sports         2341.0  1.899509  39.657660  0.0  0.02  0.11  0.30  1610.0
Strategy        680.0  1.305706  31.443142  0.0  0.00  0.00  0.08   820.0

             EU_Sales            ... JP_Sales          Other_Sales            \
                count      mean  ...      75%      max       count      mean
Genre                            ...
Action         3305.0  1.481930  ...     0.03   470.00      3305.0  0.331480
Adventure      1280.0  0.159305  ...     0.04    30.00      1280.0  0.075570
Fighting        847.0  1.758949  ...     0.10    90.00       847.0  0.208383
Misc           1734.0  1.355375  ...     0.02   120.00      1734.0  0.117595
Platform        884.0  1.685882  ...     0.04   210.00       884.0  0.487726
Puzzle          578.0  0.174187  ...     0.02     5.32       578.0  0.021661
Racing         1243.0  0.697080  ...     0.00   260.00      1243.0  0.335286
Role-Playing   1483.0  0.143999  ...     0.19  2780.00      1483.0  0.530162
Shooter        1308.0  2.790298  ...     0.01    40.00      1308.0  0.338157
Simulation      865.0  1.401445  ...     0.02  1020.00       865.0  0.117237
Sports         2341.0  0.472341  ...     0.01   150.00      2341.0  0.279432
Strategy        680.0  0.184176  ...     0.06   160.00       680.0  0.339912


                    std  min  25%   50%   75%     max
Genre
Action         7.963627  0.0  0.0  0.01  0.05  340.00
Adventure      1.310174  0.0  0.0  0.00  0.01   30.00
Fighting       3.256968  0.0  0.0  0.01  0.04   80.00
Misc           1.908811  0.0  0.0  0.01  0.03   70.00
Platform       7.281518  0.0  0.0  0.01  0.05  190.00
Puzzle         0.071087  0.0  0.0  0.01  0.01    1.18
Racing         8.817194  0.0  0.0  0.01  0.05  310.00
Role-Playing  14.669201  0.0  0.0  0.01  0.03  560.00
Shooter        6.621851  0.0  0.0  0.02  0.07  230.00
Simulation     1.768138  0.0  0.0  0.01  0.03   50.00
Sports         6.131199  0.0  0.0  0.01  0.04  270.00
Strategy       7.374152  0.0  0.0  0.00  0.01  190.00

[12 rows x 32 columns]

In [ ]:
#sales가 0인 것은 빼고 각 지역별 Action의 출고량을 나타내고 그 갯수 파악

df_genre_Action_NA = df_genre.loc[(df_genre['Genre'] == 'Action') & df_genre['NA_Sales'] > 0]
df_genre_Action_NA
df_genre_Action_NA['NA_Sales'].count()

2573

In [ ]:
df_genre_Action_NA['NA_Sales'].sum()

7897.779999999999

In [ ]:
df1['NA_Sales']

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_vgm2 = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df_vgm2

df_vgm2[df_vgm2['NA_Sales'].isnull()| df_vgm2['EU_Sales'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [ ]:
df_vgm2.NA_Sales.sort_values()

8298        0
7847        0
7846        0
7845        0
7843        0
         ...
6248     9.67
10650    9.81
14347     90K
13798     90K
13057     90K
Name: NA_Sales, Length: 16598, dtype: object

In [ ]:
sum_sales=[]
for i in range(df_vgm2.shape[0]):
  sum_sales.append(df_vgm2.iloc[i,5:].sum())
df_vgm2['Sum_Sales'] = sum_sales

NameError: ignored

In [ ]:
df_vgm2[df_vgm2['Genre'].isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
408,409,NBA Ballers,XB,2004.0,NaN,Midway Games,0.37,0.11,0,0.02
1328,1329,NFL Street,XB,2004.0,NaN,Electronic Arts,0.49,0.15,0,0.02
1582,1583,SingStar Singalong With Disney,PS2,2008.0,NaN,Sony Computer Entertainment,0,0.04,0,0.57
1971,1972,Pokemon X/Pokemon Y,3DS,2013.0,NaN,Nintendo,5170K,4.05,4.34,0.79
2043,2044,NASCAR Racing,PS,1996.0,NaN,Pioneer LDC,0.23,0.16,0,0.03
2497,2498,Jurassic Park III: Island Attack,GBA,2001.0,NaN,Konami Digital Entertainment,0.13,0.05,0,0
3353,3354,The Godfather: Dons Edition,PS3,2007.0,NaN,Electronic Arts,0.25,0.02,0,0.03
3363,3364,Ski-Doo Snowmobile Challenge,X360,2009.0,NaN,Valcon Games,0.03,0,0,0
3470,3471,Batman Beyond: Return of the Joker,N64,2000.0,NaN,Ubisoft,0.07,0.02,0,0
3515,3516,Princess Saver! Eternal Love for My Lady,PS2,2010.0,NaN,Comfort,0,0,0.02,0
3932,3933,MVP Baseball 2004,PS2,2004.0,NaN,Electronic Arts,1.1,0.06,0,0.18
4148,4149,Grand Theft Auto IV,PC,2008.0,NaN,Take-Two Interactive,0.01,0.79,0,0.08
4349,4350,Brain Quest: Grades 5 & 6,DS,2008.0,NaN,Electronic Arts,0.11,0,0,0.01
4545,4546,Dragon Ball Z: Ultimate Tenkaichi,X360,2011.0,NaN,Namco Bandai Games,0.39,0.1,0.01,0.04
4598,4599,Wii Party,Wii,2010.0,NaN,Nintendo,1.79,3.53,2.49,0.68
4935,4936,Astonishia Story,PSP,2006.0,NaN,Ubisoft,0.03,0,0,0
5668,5669,Chrono Cross,PS,1999.0,NaN,SquareSoft,0.62,0.42,0.69,0.12
5713,5714,Back to the Future: The Game,XOne,2015.0,NaN,Telltale Games,0,0.02,0,0
5945,5946,Medabots: Metabee,GBA,2002.0,NaN,Natsume,0.04,0.01,0,0
6798,6799,UFO: Trilogy,PC,2007.0,NaN,Unknown,0,0.02,0,0
7143,7144,Largo Winch .// Commando Sar,PS,2002.0,NaN,Ubisoft,0.01,0.01,0,0
7336,7337,Madden NFL 11,PS2,2010.0,NaN,Electronic Arts,0.41,0.02,0,0.07
7526,7527,Ukiyo no Shishi,PS3,2015.0,NaN,Namco Bandai Games,0,0,0.03,0
7797,7798,Myth Makers: Orbs of Doom,Wii,2007.0,NaN,Popcorn Arcade,0.05,0,0,0
9488,9489,Final Fantasy XII,PS2,2006.0,NaN,Square Enix,1.88,0,2.33,1.74
10432,10433,The Mummy: Tomb of the Dragon Emperor,Wii,2008.0,NaN,Vivendi Games,0.08,0,0,0.01
10501,10502,Bakemonogatari Portable,PSP,2012.0,NaN,Namco Bandai Games,0,0,0.05,0
10874,10875,Karaoke Revolution Glee: Volume 3,Wii,2011.0,NaN,Konami Digital Entertainment,0.24,0.04,0,0.02
11050,11051,Puppy Palace,DS,2008.0,NaN,Ubisoft,0.35,0,0,0.03
11063,11064,Yakuza 3,PS3,2009.0,NaN,Sega,0.21,0.21,0.62,0.08
11268,11269,Cloudy With a Chance of Meatballs,PS3,2009.0,NaN,Ubisoft,0.09,0.01,0,0.01
11496,11497,F-Zero X,N64,1998.0,NaN,Nintendo,0.45,0.33,0.29,0.03
11668,11669,The History Channel: Battle for the Pacific,Wii,2007.0,NaN,Activision,0.1,0,0,0.01
11699,11700,Time Travelers,PSV,2012.0,NaN,Level 5,0,0,0.05,0
12314,12315,Ice Hockey,2600,1980.0,NaN,Activision,0.46,0.03,0,0.01
12331,12332,Onimusha: Warlords,PS2,2001.0,NaN,Virgin Interactive,0.99,0.48,1.09,0.14
12340,12341,Virtual Chess 64,N64,1998.0,NaN,Titus,0.05,0.01,0,0
12870,12871,PQ2: Practical Intelligence Quotient,PSP,2006.0,NaN,D3Publisher,0.04,0,0,0
12982,12983,Urban Chaos,PS,1999.0,NaN,Eidos Interactive,0.06,0.04,0,0.01
13348,13349,Treasure Report: Kikai Jikake no Isan,DS,2011.0,NaN,Namco Bandai Games,0,0,0.05,0
14930,14931,Skylanders Giants,PS3,2012.0,NaN,Activision,0.35,0.52,0,0.22
15077,15078,Myth Makers: Super Kart GP,Wii,2007.0,NaN,Popcorn Arcade,0.01,0,0,0
15211,15212,James Bond 007: Nightfire,XB,2002.0,NaN,Electronic Arts,0.58,220K,0,0.03
15426,15427,"WarioWare, Inc.: Mega Party Game$",GC,2003.0,NaN,Nintendo,0.2,0.05,0.44,0.02
15526,15527,Bloodborne,PS4,2015.0,NaN,Sony Computer Entertainment,1,0.76,0.26,0.36
16091,16092,Brain Boost: Beta Wave,DS,2005.0,NaN,505 Games,0.14,0,0,0.01
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1