<a href="https://colab.research.google.com/github/Choyoons/Choyoons/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_vgm2 = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df_vgm2

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...,...
16593,16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [ ]:
print(df_vgm2.shape)
df_vgm2.info()
df_vgm2.duplicated().sum()
df_vgm2.columns

(16598, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

Index(['Unnamed: 0', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
       'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'],
      dtype='object')

In [ ]:
df_vgm2.sample(20)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
3998,3999,Naruto: Gekito Ninja Taisen! 3,GC,2004.0,Fighting,Tomy Corporation,0,0,0.43,0.01
15042,15043,Beyond Good & Evil,PS2,2003.0,Adventure,Ubisoft,0.16,0.13,0,0.04
9686,9687,Virtua Fighter CG Portrait Series Vol.2: Jacky...,SAT,1995.0,Misc,Sega,0,0,0.08,0
15978,15979,Ciel Nosurge: Ushinawareta Hoshi e Sasagu Uta,PSV,2012.0,Adventure,Gust,0,0,0.1,0
10987,10988,Fast Food,2600,1981.0,Action,Unknown,0.27,0.02,0,0
1811,1812,Pokemon Rumble Blast,3DS,2011.0,Action,Nintendo,0.47,0.26,0.35,0.07
12892,12893,Juiced 2: Hot Import Nights,PS3,2007.0,Racing,THQ,0.18,0.04,0.01,0.03
12433,12434,MotorStorm: Pacific Rift,PS3,2008.0,Racing,Sony Computer Entertainment,0.43,0.67,0.02,0.26
11912,11913,Virtua Tennis 2009,X360,2009.0,Sports,Sega,0.12,0.18,0,0.03
160,161,PictoImage,DS,2007.0,Puzzle,Sega,0.1,0,0,0.01
15691,15692,Dragon Ball: Origins (JP & incomplete US sales),DS,2008.0,Adventure,Atari,0.04,0,0.17,0
10139,10140,Saint Seiya: Soldiers' Soul,PS4,2015.0,Fighting,Namco Bandai Games,0,0.09,0.04,0.02
4658,4659,Challenge Me: Word Puzzles,DS,2011.0,Puzzle,O-Games,0.03,0,0,0
14602,14603,Just Dance Kids,Wii,2010.0,Misc,Ubisoft,1.57,0.56,0,0.19
7440,7441,A Bug's Life,N64,1998.0,Platform,Activision,0.49,0.13,0,0.01
4684,4685,Mame Goma: Shiro to Kuro no Meikyuu,3DS,2012.0,Action,Nippon Ichi Software,0,0,0.03,0
3239,3240,The X-Factor,Wii,2010.0,Misc,Deep Silver,0,0.29,0,0.04
14256,14257,Summon Night 6: Lost Borders,PSV,2016.0,Action,Namco Bandai Games,0,0,0.06,0
2905,2906,G1 Jockey Wii,Wii,2007.0,Sports,Tecmo Koei,0,0.01,0.02,0
1168,1169,Tamagotchi Collection,DS,2011.0,Misc,Namco Bandai Games,0,0,0.15,0

In [ ]:
df_vgm2.describe()

         Unnamed: 0          Year
count  16598.000000  16327.000000
mean    8299.500000   1994.242543
std     4791.574219    155.077168
min        1.000000      0.000000
25%     4150.250000   2003.000000
50%     8299.500000   2007.000000
75%    12448.750000   2010.000000
max    16598.000000   2020.000000

In [ ]:
df_vgm2[['Genre', 'Year']]

           Genre    Year
0         Action  2008.0
1         Action  2009.0
2      Adventure  2010.0
3           Misc  2010.0
4       Platform  2010.0
...          ...     ...
16593   Platform  2006.0
16594     Action  2005.0
16595     Sports  2015.0
16596     Action  2013.0
16597   Fighting  1996.0

[16598 rows x 2 columns]

In [ ]:
df_vgm2.drop('Unnamed: 0', axis = 1, inplace=True)
df_vgm2

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [ ]:
df_vgm2

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [ ]:
df1=df_vgm2['Year']

In [ ]:
df_vgm2['NA_Sales'].unique()

In [ ]:
df_vgm2.isnull().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [ ]:
df_vgm2['EU_Sales'].unique()

array(['0', '0.09', '0.01', '0.03', '0.33M', '0.05', '0.02', '0.16',
       '0.45', '0.04', '0.53', '0.23', '0.1', '0.34', '0.22', '0.2',
       '0.03M', '0.33', '0.08', '0.26', '0.07', '0.11', '0.17', '0.06',
       '0.14', '0.12', '0.24', '0.13', '0.21', '0.15', '0.3', '2.38',
       '0.55', '0K', '1.12', '0.43', '50K', '0.63', '0.35', '1.11',
       '0.41', '0.01M', '0.89', '3.15', '0.18', '0.54', '0.25', '0.29',
       '0.61', '0.27', '0.86', '0.87', '0.32', '0.44', '2.48', '0.48',
       '0.47', '0.66', '0.76', '0.27M', '0.15M', '1.94', '0.97', '0.72',
       '620K', '0.49', '5.36', '0.31', '0.62', '0.4', '0.57', '0.46',
       '1.97', '1.02', '1.75', '0.28', '2.46', '0.38', '0.5', '0.9',
       '0.19', '0.39', '0.67', '0.64', '0.37', '0.51', '2.83', '0.59',
       '0.75', '0.52', '1.34', '760K', '80K', '5.09', '1.09', '2.19',
       '2.17', '0.91', '2.26', '0.83', '0.74', '0.88', '0.77', '1.24',
       '0.92', '0.8', '0.36', '20K', '1.15', '0.58', '1.51', '0M', '40K',
       '1.14', '2560K', '2.09', '1.63', '2.8', '2.65', '2.07', '1.89',
       '0.73', '4.05', '0.42', '5.81', '440K', '1.39', '0.71', '0.84',
       '1.3', '280K', '10K', '1.83', '0.85', '1.16', '2.12', '1.53',
       '1.58', '0.56', '0.11M', '1.56', '1.06', '1.41', '660K', '0.65',
       '0.32M', '0.82', '0.6', '160K', '0.78', '6.06', '0.95', '1.31',
       '4.32', '1.17', '1.07', '1.25', '4.28', '1.68', '0.68', '29.02',
       '0.04M', '1.55', '1.1', '2.15', '9.2', '0.99', '3.29', '4.29',
       '0.79M', '1.27', '1.77', '3.52', '1.61', '11.01', '0.16M', '0.61M',
       '8.03', '9.27', '30K', '1.03', '1.08', '1.37', '0.69', '1.28',
       '1.47', '130K', '0.79', '1.19', '0.05M', '3.58', '1.92', '2.3',
       '1.22', '0.66M', '5.88', '3.37', '1.01', '1.73', '4.94', '0.94',
       '1.86', '1', '0.21M', '3.53', '70K', '1.2', '1.29', '1.79', '0.98',
       '0.02M', '1.4', '1.57', '210K', '2.27', '2.77', '3.87', '1.13',
       '1.24M', '3.02', '1.5', '1.78', '1350K', '0.7', '110K', '5.49',
       '6.42', '1.66', '1.36', '1.23', '2.63', '1.95', '1.18', '0.81',
       '6.21', '1.33', '2.71', '1.72', '4.88', '0.19M', '3.63', '1.05',
       '3.73', '2.75', '4.3', '2.78', '2.85M', '3.42', '2.21', '1.35',
       '2.02', '2.04', '9.23', '1.71', '3.3', '2.43', '1.43', '370K',
       '1.88', '8.89', '2.93M', '2130K', '2', '2.28', '1.49', '0.06M',
       '2.01', '1.52', '2.55', '3.69', '3.9', '5.04', '1.26', '1.87',
       '2.1', '1.59', '2.32', '190K', '5.05', '2.05', '100K', '2.35',
       '2.89', '6.18', '2.93', '140K', '1.96', '2.79', '1.04', '1.38',
       '4.51', '1.42', '260K', '0.13M', '1.91', '4.44', '300K', '2.29M',
       '0.12M', '3.07', '1.85', '4.52', '1.99', '3.28', '1.8', '7.57',
       '1.65', '0.93', '0.07M', '8.59', '5.31', '1.9', '2.22', '2.36',
       '1.98', '0.96', '1.74', '3.91', '11', '3.03', '0.59M', '2.86',
       '2.23', '1.69', '1.54', '2.47', '1.84', '1.44', '3.4', '290K',
       '3.48', '3.11', '12.88', '2.99', '2.11', '2.39', '3.75', '9.26',
       '0.08M', '0.37M', '320K', '2.25', '90K', '3.1', '1.62', '5.82',
       '960K', '200K', '3.14', '2.4', '2.64', '3.44', '2.61', '1.21',
       '1.93', '220K', '1.53M', '1.64', '60K', '3.76', '2.51', '2.42',
       '7.06'], dtype=object)

In [ ]:
df_vgm2['JP_Sales'].unique()

In [ ]:
df_vgm2.set_index('Genre')

,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,,,,,,,,
Action,Candace Kane's Candy Factory,DS,2008.0,Destineer,0.04,0,0,0
Action,The Munchables,Wii,2009.0,Namco Bandai Games,0.17,0,0,0.01
Adventure,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Alchemist,0,0,0.02,0
Misc,Deal or No Deal: Special Edition,DS,2010.0,Zoo Games,0.04,0,0,0
Platform,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...
Platform,Ice Age 2: The Meltdown,GC,2006.0,Vivendi Games,0.15,0.04,0,0.01
Action,Rainbow Islands: Revolution,PSP,2005.0,Rising Star Games,0.01,0,0,0
Sports,NBA 2K16,PS3,2015.0,Take-Two Interactive,0.44,0.19,0.03,0.13
Action,Toukiden: The Age of Demons,PSV,2013.0,Tecmo Koei,0.05,0.05,0.25,0.03
Fighting,The King of Fighters '95,PS,1996.0,Sony Computer Entertainment,0,0,0.16,0.01

In [ ]:
df_vgm2.sort_values(by='Genre')

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
10068,Spider-Man: Shattered Dimensions,PS3,2010.0,Action,Activision,0.26,0.13,0,0.06
10062,Star Wars: The Force Unleashed II,DS,2010.0,Action,LucasArts,0.18,0.04,0,0.02
2291,Just Cause,PC,2006.0,Action,Eidos Interactive,0,0.01,0,0
10061,Castlevania: Lords of Shadow 2,X360,2014.0,Action,Konami Digital Entertainment,0.02,0.07,0,0.01
...,...,...,...,...,...,...,...,...,...
15526,Bloodborne,PS4,2015.0,NaN,Sony Computer Entertainment,1,0.76,0.26,0.36
16091,Brain Boost: Beta Wave,DS,2005.0,NaN,505 Games,0.14,0,0,0.01
16431,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16555,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [ ]:
df_vgm2.sort_values(by='Genre',ascending=False)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
11661,Romance of the Three Kingdoms II,SNES,1991.0,Strategy,Tecmo Koei,0,0,0.25,0
15325,SNK vs. Capcom Card Fighters DS,DS,2006.0,Strategy,Ignition Entertainment,0.09,0,0,0.01
2825,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0,0.59
635,The Stronghold Collection,PC,2009.0,Strategy,Take-Two Interactive,0.03,0.08,0,0.02
9356,Hearts of Iron III,PC,2009.0,Strategy,Paradox Interactive,0.01,0.04,0,0.01
...,...,...,...,...,...,...,...,...,...
15526,Bloodborne,PS4,2015.0,NaN,Sony Computer Entertainment,1,0.76,0.26,0.36
16091,Brain Boost: Beta Wave,DS,2005.0,NaN,505 Games,0.14,0,0,0.01
16431,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16555,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [ ]:
counts = df_vgm2.Genre.value_counts()
counts

NameError: ignored

In [ ]:
counts.nlargest(3)

Action    3305
Sports    2341
Misc      1734
Name: Genre, dtype: int64

In [ ]:
df_vgm2[df_vgm2.Genre.isin(counts.nlargest(3).index)].head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Power Pro Kun Pocket 8,DS,2005.0,Sports,Konami Digital Entertainment,0,0,0.14,0
7,Samurai Warriors: State of War,PSP,2005.0,Action,Tecmo Koei,0.07,0,0.11,0.01

In [ ]:
df_vgm2['Genre'].unique()

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter', nan], dtype=object)

In [ ]:
df_vgm2['Platform'].unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
error1 = df_vgm2[df_vgm2.NA_Sales.str.contains(r'[^0-9]')]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
6,JASF: Jane's Advanced Strike Fighters,PC,2011.0,Simulation,Deep Silver,0.02,0.01,0,0
9,The Penguins of Madagascar: Dr. Blowhole Retur...,PS3,2011.0,Action,THQ,0.04,0.03,0,0.01
10,Ford Racing,PS,2001.0,Racing,Empire Interactive,480K,0.33M,0K,0.06
11,Harvest Moon: More Friends of Mineral Town,GBA,2003.0,Simulation,Ubisoft,0.14,0.05,0,0
...,...,...,...,...,...,...,...,...,...
16588,MindJack,PS3,2011.0,Shooter,Square Enix,0.07,0.08,0,0.03
16591,Madden NFL 2005,PS2,2004.0,Sports,Electronic Arts,4.18,0.26,0.01,80K
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_vgm2 = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df_vgm2

df1 = df_vgm2[['Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df1

           Genre NA_Sales EU_Sales JP_Sales Other_Sales
0         Action     0.04        0        0           0
1         Action     0.17        0        0        0.01
2      Adventure        0        0     0.02           0
3           Misc     0.04        0        0           0
4       Platform     0.12     0.09        0        0.04
...          ...      ...      ...      ...         ...
16593   Platform     0.15     0.04        0        0.01
16594     Action     0.01        0        0           0
16595     Sports     0.44     0.19     0.03        0.13
16596     Action     0.05     0.05     0.25        0.03
16597   Fighting        0        0     0.16        0.01

[16598 rows x 5 columns]

In [21]:
df2 = df1.set_index(['Genre']).sort_values(by = 'Genre', ascending=False)
df2

         NA_Sales EU_Sales JP_Sales Other_Sales
Genre
Strategy        0        0     0.25           0
Strategy     0.09        0        0        0.01
Strategy     2.56     1.68        0        0.59
Strategy     0.03     0.08        0        0.02
Strategy     0.01     0.04        0        0.01
...           ...      ...      ...         ...
NaN             1     0.76     0.26        0.36
NaN          0.14        0        0        0.01
NaN          0.13        0        0        0.01
NaN             0     0.03        0        0.01
NaN          1.38      0.8        0         0.1

[16598 rows x 4 columns]

In [25]:
df_vgm2['NA_Sales'] = df_vgm2['NA_Sales'].str.replace(pat = r'[M, K]', repl = r'', regex = True)
df_vgm2['EU_Sales'] = df_vgm2['EU_Sales'].str.replace(pat = r'[M, K]', repl = r'', regex = True)
df_vgm2['JP_Sales'] = df_vgm2['JP_Sales'].str.replace(pat = r'[M, K]', repl = r'', regex = True)
df_vgm2['Other_Sales'] = df_vgm2['Other_Sales'].str.replace(pat = r'[M, K]', repl = r'', regex = True)

df_vgm2[['NA_Sales', 'EU_Sales','JP_Sales', 'Other_Sales']] =  df_vgm2[['NA_Sales', 'EU_Sales','JP_Sales', 'Other_Sales']].\
apply(pd.to_numeric)

df_vgm2.dtypes

Unnamed: 0       int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [27]:
df1 = df_vgm2[['Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df1

           Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0         Action      0.04      0.00      0.00         0.00
1         Action      0.17      0.00      0.00         0.01
2      Adventure      0.00      0.00      0.02         0.00
3           Misc      0.04      0.00      0.00         0.00
4       Platform      0.12      0.09      0.00         0.04
...          ...       ...       ...       ...          ...
16593   Platform      0.15      0.04      0.00         0.01
16594     Action      0.01      0.00      0.00         0.00
16595     Sports      0.44      0.19      0.03         0.13
16596     Action      0.05      0.05      0.25         0.03
16597   Fighting      0.00      0.00      0.16         0.01

[16598 rows x 5 columns]

In [30]:
df_genre = df_vgm2[['Genre','NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
df_genre.groupby('Genre').describe()

             NA_Sales                                                      \
                count      mean        std  min   25%   50%   75%     max
Genre
Action         3305.0  2.389646  75.132055  0.0  0.02  0.10  0.27  4100.0
Adventure      1280.0  0.293273   5.370954  0.0  0.00  0.00  0.07   150.0
Fighting        847.0  1.218878  19.914883  0.0  0.00  0.08  0.29   470.0
Misc           1734.0  2.401551  53.169141  0.0  0.00  0.08  0.21  2010.0
Platform        884.0  4.245622  99.120589  0.0  0.05  0.14  0.44  2930.0
Puzzle          578.0  0.939325  14.798830  0.0  0.01  0.05  0.14   350.0
Racing         1243.0  4.699678  83.362442  0.0  0.03  0.10  0.27  2570.0
Role-Playing   1483.0  1.030566  17.865874  0.0  0.00  0.04  0.16   550.0
Shooter        1308.0  2.514687  53.687100  0.0  0.03  0.12  0.38  1780.0
Simulation      865.0  3.526116  58.767918  0.0  0.00  0.07  0.25  1610.0
Sports         2341.0  1.899509  39.657660  0.0  0.02  0.11  0.30  1610.0
Strategy        680.0  1.305706  31.443142  0.0  0.00  0.00  0.08   820.0

             EU_Sales            ... JP_Sales          Other_Sales            \
                count      mean  ...      75%      max       count      mean
Genre                            ...
Action         3305.0  1.481930  ...     0.03   470.00      3305.0  0.331480
Adventure      1280.0  0.159305  ...     0.04    30.00      1280.0  0.075570
Fighting        847.0  1.758949  ...     0.10    90.00       847.0  0.208383
Misc           1734.0  1.355375  ...     0.02   120.00      1734.0  0.117595
Platform        884.0  1.685882  ...     0.04   210.00       884.0  0.487726
Puzzle          578.0  0.174187  ...     0.02     5.32       578.0  0.021661
Racing         1243.0  0.697080  ...     0.00   260.00      1243.0  0.335286
Role-Playing   1483.0  0.143999  ...     0.19  2780.00      1483.0  0.530162
Shooter        1308.0  2.790298  ...     0.01    40.00      1308.0  0.338157
Simulation      865.0  1.401445  ...     0.02  1020.00       865.0  0.117237
Sports         2341.0  0.472341  ...     0.01   150.00      2341.0  0.279432
Strategy        680.0  0.184176  ...     0.06   160.00       680.0  0.339912


                    std  min  25%   50%   75%     max
Genre
Action         7.963627  0.0  0.0  0.01  0.05  340.00
Adventure      1.310174  0.0  0.0  0.00  0.01   30.00
Fighting       3.256968  0.0  0.0  0.01  0.04   80.00
Misc           1.908811  0.0  0.0  0.01  0.03   70.00
Platform       7.281518  0.0  0.0  0.01  0.05  190.00
Puzzle         0.071087  0.0  0.0  0.01  0.01    1.18
Racing         8.817194  0.0  0.0  0.01  0.05  310.00
Role-Playing  14.669201  0.0  0.0  0.01  0.03  560.00
Shooter        6.621851  0.0  0.0  0.02  0.07  230.00
Simulation     1.768138  0.0  0.0  0.01  0.03   50.00
Sports         6.131199  0.0  0.0  0.01  0.04  270.00
Strategy       7.374152  0.0  0.0  0.00  0.01  190.00

[12 rows x 32 columns]

In [38]:
df_genre_Action = df_genre.loc[df_genre['Genre'] == 'Action']
df_genre_Action

        Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0      Action      0.04      0.00      0.00         0.00
1      Action      0.17      0.00      0.00         0.01
7      Action      0.07      0.00      0.11         0.01
9      Action      0.04      0.03      0.00         0.01
15     Action      0.14      0.16      0.00         0.06
...       ...       ...       ...       ...          ...
16575  Action      0.36      0.64      0.00         0.08
16581  Action      0.13      0.12      0.00         0.02
16583  Action      0.91      0.39      0.00         0.13
16594  Action      0.01      0.00      0.00         0.00
16596  Action      0.05      0.05      0.25         0.03

[3305 rows x 5 columns]

In [40]:
df_genre_Action['NA_Sales'].sum()

7897.779999999999

In [41]:
df_genre_Action['NA_Sales'].unique()

array([4.00e-02, 1.70e-01, 7.00e-02, 1.40e-01, 1.90e-01, 1.10e-01,
       0.00e+00, 6.00e+01, 1.30e-01, 1.80e-01, 8.00e-02, 3.00e-02,
       2.20e-01, 1.00e-01, 6.70e-01, 9.00e-02, 4.40e-01, 5.00e-02,
       2.90e-01, 2.00e-02, 4.70e-01, 6.20e-01, 2.40e-01, 7.20e-01,
       1.74e+00, 1.60e-01, 6.00e-02, 1.20e-01, 3.20e-01, 3.90e-01,
       5.70e-01, 2.60e-01, 4.00e-01, 2.30e-01, 5.60e-01, 2.10e-01,
       3.70e-01, 1.00e-02, 5.80e-01, 8.60e-01, 5.50e-01, 1.02e+00,
       5.00e-01, 2.80e-01, 5.40e-01, 1.50e-01, 2.29e+00, 3.00e-01,
       4.10e-01, 2.30e+00, 9.90e-01, 7.00e-01, 4.50e-01, 7.50e-01,
       6.80e-01, 1.23e+00, 5.10e-01, 4.80e-01, 2.90e+00, 7.80e-01,
       3.38e+00, 8.20e-01, 4.30e-01, 5.20e-01, 1.08e+00, 3.60e-01,
       4.20e-01, 3.30e-01, 5.90e-01, 3.83e+00, 3.50e-01, 3.80e-01,
       3.79e+00, 6.50e-01, 2.00e-01, 3.10e-01, 2.50e-01, 1.05e+00,
       8.90e-01, 6.30e-01, 1.85e+00, 2.06e+00, 1.36e+00, 6.40e-01,
       1.15e+00, 2.70e-01, 3.40e-01, 1.98e+00, 2.64e+00, 1.06e+00,
       3.11e+00, 4.10e+03, 5.30e-01, 1.07e+00, 3.80e+00, 8.80e-01,
       1.78e+00, 8.50e-01, 1.91e+00, 9.50e-01, 4.60e-01, 3.18e+00,
       9.20e-01, 2.05e+00, 1.49e+00, 1.13e+00, 8.40e-01, 1.01e+00,
       6.00e-01, 1.09e+00, 7.30e-01, 1.87e+00, 1.33e+00, 1.48e+00,
       1.20e+00, 2.38e+00, 2.99e+00, 2.03e+00, 2.60e+00, 1.47e+00,
       9.60e-01, 5.00e+01, 6.10e-01, 2.20e+00, 1.86e+00, 1.18e+00,
       1.42e+00, 9.40e-01, 7.01e+00, 1.16e+00, 1.79e+00, 6.90e-01,
       1.50e+00, 4.90e-01, 8.70e-01, 2.08e+00, 8.30e-01, 2.31e+00,
       1.40e+00, 1.21e+03, 2.71e+00, 7.10e-01, 2.26e+00, 4.40e+00,
       9.30e-01, 1.90e+00, 2.25e+00, 8.00e-01, 1.84e+00, 1.56e+00,
       8.41e+00, 1.27e+00, 2.11e+00, 2.74e+00, 2.42e+00, 7.60e-01,
       2.54e+00, 1.12e+00, 1.54e+00, 1.88e+00, 1.96e+00, 1.50e+02,
       1.82e+00, 1.26e+00, 2.20e+02, 1.70e+00, 1.32e+00, 1.34e+00,
       1.55e+00, 9.10e-01, 8.10e-01, 1.94e+00, 9.00e-01, 2.14e+00,
       3.66e+00, 6.60e-01, 2.41e+00, 3.10e+00, 1.59e+00, 2.45e+00,
       1.30e+02, 7.40e-01, 2.36e+00, 1.10e+00, 1.76e+00, 7.90e-01,
       6.99e+00, 3.70e+00, 9.80e-01, 1.37e+00, 1.30e+00, 1.75e+00,
       1.21e+00, 3.74e+00, 2.66e+00, 9.63e+00, 7.70e-01, 2.63e+00,
       2.77e+00, 1.17e+00, 2.40e+00, 1.14e+00, 2.84e+00, 1.29e+00,
       1.24e+00, 2.32e+00, 2.21e+00, 1.53e+00, 3.27e+00, 1.04e+00,
       6.76e+00, 1.43e+00, 1.64e+00, 1.66e+00, 3.00e+01, 2.00e+00,
       1.25e+00, 1.41e+00, 9.43e+00, 2.70e+00, 4.20e+02, 2.80e+02,
       3.13e+00, 2.23e+00, 1.89e+00, 2.79e+00, 1.46e+00, 2.89e+00,
       4.76e+00])